#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: grid;
  // grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-columns: 1fr;
  place-content: stretch;
  align-items: center;
  height: 100%;
  // padding: 10px;
  box-sizing: border-box;


  color: var(--text-color);
  background: var(--background-val);
  grid-template-rows: 1fr 528px 1fr;

  div.home {
    height: 100%;
    display: grid;
    place-content: center stretch;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 1rem;
    // grid-column: 2;
  }
}

body {
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  margin: 0;
  background: var(--background-val);
  font-size: 10px;

}

div.sidebar {
  // padding-inline: 10px;
  padding-block: 10px;
  box-sizing: border-box;
  width: 100%;
  background: var(--sidebar-background-val);
  color: var(--sidebar-text-col-val);
  height: 100%;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1.3rem;
  grid-row: span 3;

  h1,
  h2 {
    // text-align: left;
    padding-inline: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }

}

nav.topbar {
  display: flex;
  text-align: left;
  // grid-column: 2;
  align-items: end;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;

  input {
    display: none;
  }



  label {

    div[role="button"] {

      display: grid;
      place-items: center start;
      grid-template-columns: auto auto;
      gap: 3px;
      padding: 5px;
      // min-width: 200px;
      background: #9d5178;
      border-radius: 5px;
      color: #fff;
      font-size: 1.3em;
      transition: padding 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), max-width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s, min-width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
      min-width: 140px;
      max-width: 160px;

      &:hover {
        padding: 6px;
        cursor: pointer;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        min-width: 121px;
        max-width: 141px;

        svg {
          height: 27px;
        }

        #text {
          display: none;
        }

        span {
          display: none;

          &.hover_label {
            display: block;
          }
        }
      }

      span.hover_label {
        // visibility: hidden;
        // overflow: hidden;
        // grid-column: 1;
        // grid-row: 1;
        display: none;
      }

      svg {
        grid-column: 1;
        grid-row: 1;
      }

    }
  }
}

nav {
  display: grid;
  grid-template-rows: 1fr 1fr auto;
  place-content: center stretch;
  gap: 5px;
  width: 100%;
  // padding: 30px;
  padding-inline: 0;
  box-sizing: border-box;


  a {
    width: 100%;
    text-align: left;
    min-height: 40px;
    display: grid;
    place-content: center left;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    box-sizing: border-box;
    text-decoration: none;
    transition: background-color 0.3s 0.05s;

    &:hover {
      background: #f7f7f755;
      color: #303030;
    }

    // &.router-link-exact-active {
    //   color: #42b983;
    // }
  }
}

@media only screen and (max-width: 600px) {
  #app {
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;

    div.home {
      overflow: scroll;
      padding: 15px 8px;

      span.no-of-tasks {
        font-size: 2.8rem;
      }
    }
  }

  div.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: none;
    box-shadow: none;
    gap: 10px;

    h1,
    h2 {
      margin: 0;
    }

    nav {
      display: none;
    }
  }
}